@font-face {
    font-family: gt;
    src: url(../../content/fonts/gt.ttf);
}

@font-face {
    font-family: sf;
    src: url(../../content/fonts/sf.ttf);
}

@font-face {
    font-family: cr;
    src: url(../../content/fonts/cr.ttf);
}

#clock-des{
	vertical-align: middle;
	height: 30vh;
	width:30vh;
	
	position: absolute;
	
    left:50%;
    margin:0 0 0 -15vh;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) , rgba(50,0,0,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0,0,0,1), rgba(50,0,0,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0,0,0,1), rgba(50,0,0,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0,0,0,1) , rgba(50,0,0,0.5)); /* Standard syntax (must be last) */
    color: white;
    padding: 2vh;
    text-align: center
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	
	height: 350px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.nav-button{
	font-size: 3vh;
	vertical-align: middle;
}

.marquee{
    background: -webkit-linear-gradient(left, rgba(255,0,0,1) , rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,1) , rgba(255,255,255,0)); /* Standard syntax (must be last) */
}

a:link{
	color: #4CC417;
	text-decoration: none;
}

a:visited{
	color: #4CC417;
	text-decoration: none;
}

a:hover{
	color: orange;
	text-decoration: none;
}

a:active{
	color: #4CC417;
	text-decoration: none;
}

td{
	padding: 2px 2px;
	border: 1px solid #FDD017;
	text-align:center;
}

th{
	padding: 0px 2px;
	text-align:left;
}

div.social{
	position: relative;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.3) , rgba(255,255,255,0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.3), rgba(255,255,255,0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0.3), rgba(255,255,255,0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.3) , rgba(255,255,255,0.3)); /* Standard syntax (must be last) */
    border-radius: 25px;
}

div.v-center{
	vertical-align: middle;
	line-height: 100%;
}

div.gold{
	font-family: gt;
	font-size: 2.5vh;
	color: #FDD017;
}

div.big-text{
	font-size: 10vh;
}

div.display-stats{
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) , rgba(0,0,0,0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0,0,0,0.3), rgba(0,0,0,0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0,0,0,0.3), rgba(0,0,0,0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0,0,0,0.3) , rgba(0,0,0,0.3)); /* Standard syntax (must be last) */
    color: white;
    padding: 10vh 0vh;
}

div.full-vp{
	height: 100vh;
}

div.glow{
	border-color: white;
	border-width: 1px;
	border-style: solid;
	background: -webkit-linear-gradient(left, rgba(255,0,0,1) , rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,1) , rgba(255,255,255,0)); /* Standard syntax (must be last) */
    padding: 2vh;
    text-align: center;
    border-radius: 12px;
    margin: 10px
}

h2{
	text-align: center;
	font-weight: bold;
	padding: 5vh 0vh;
}

div.info-box{
	border-width: 1px;
	border-color: while;
	border-style: solid;
	border-radius: 6px;
	background-image: url(../../content/img/background1.jpg);
	margin: 10px;
	padding: 10px 30px;
}

div.contact-box{
	text-align: center;
	color: white;
	border-width: 1px;
	border-color: while;
	border-style: solid;
	border-radius: 6px;
	background-image: url(../../content/img/background1.jpg);
	margin: 10px;
	padding: 30px 30px;
}

div.divider{
	background: -webkit-linear-gradient(left, rgba(255,0,0,1) , rgba(0,255,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,1), rgba(0,255,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,1), rgba(0,255,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,1) , rgba(0,255,0,1)); /* Standard syntax (must be last) */
    padding: 3px 0px;
}

div.footer{
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) , rgba(50,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0,0,0,1), rgba(50,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0,0,0,1), rgba(50,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0,0,0,1) , rgba(50,0,0,1)); /* Standard syntax (must be last) */
    color: white;
    padding: 2vh;
    text-align: center;
    font-family: arial;
}

