@font-face {
    font-family: allura;
    src: url(/content/fonts/allura.ttf);
}

@font-face {
    font-family: boert;
    src: url(/content/fonts/boert.ttf);
}

@font-face {
    font-family: cheap_sign;
    src: url(/content/fonts/cheap_sign.ttf);
}

h2{
	font-weight: bold;
	font-family: Times New Roman;
}

h4{
	font-weight: bold;
}

p{
	font-size: 17px;
	color: #585858;
}

ul.body-list{
	font-size: 17px;
	color: #585858;
}

a:link{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:visited{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: black;
	color: #993300;
	font-weight: bold;
	text-decoration: none;
}

a:active{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div.full-vp{
	height: 100vh;
	vertical-align: middle;
	overflow: hidden;
	line-height: 100vh;
}

div.footer{
	background-color: #333333;
}

div.footer p{
	color: white;
}

div.footer a:link{
	color: white;
}

div.footer a:visited{
	color: white;
}

div.footer a:hover{
	color: #993300;
}

div.footer a:active{
	color: white;
}

div.social-media{
	padding: 15px;
}
