@font-face {
    font-family: allura;
    src: url(/content/fonts/allura.ttf);
}

@font-face {
    font-family: boert;
    src: url(/content/fonts/boert.ttf);
}

@font-face {
    font-family: cheap_sign;
    src: url(/content/fonts/cheap_sign.ttf);
}

body{
	background-image: url('/content/img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #e5e5e5;
	
}

h4{
	
}

p{
	font-size: 17px;
}

button.submit:enabled{
	padding:20px 30px;
	background-color:rgba(0, 0, 0, 0.0);
	color: white;
	font-size:16px;
	border-radius:5px;
	border: solid white 2px;
}

button.submit:disabled{
	padding:20px 30px;
	background-color:rgba(0, 0, 0, 0.0);
	color: #C8C8C8;
	font-size:16px;
	border-radius:5px;
	border: solid #C8C8C8 2px;
}

button.submit:enabled:hover{
	padding:20px 30px;
	background-color:rgba(0, 0, 200, 0.1);
	color: white;
	font-size:16px;
	border-radius:5px;
	border: solid white 2px;
}

ul.body-list{
	font-size: 17px;
	color: #585858;
}

div.full-90-vp{
	height: 90vh;
}

div.full-10-vp{
	height: 15vh;
}

div.menu div p a:link{
	font-size: 25px;
	color: #e5e5e5;
	font-weight: 500;
	text-decoration: none;
}

div.menu div p a:visited{
	font-size: 25px;
	color: #e5e5e5;
	font-weight: 500;
	text-decoration: none;
}

div.menu div p a:hover{
	font-size: 25px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

div.menu div p a:active{
	font-size: 25px;
	color: #e5e5e5;
	font-weight: 500;
	text-decoration: none;
}

a:link{
	color: #e5e5e5;
	text-decoration: none;
}

a:visited{
	color: #e5e5e5;
	text-decoration: none;
}

a:hover{
	color: white;
	text-decoration: none;
}

a:active{
	color: #e5e5e5;
	text-decoration: none;
}

div.footer{
	background-color: #333333;
}

div.footer p{
	color: white;
}

div.footer a:link{
	color: white;
}

div.footer a:visited{
	color: white;
}

div.footer a:hover{
	color: #993300;
}

div.footer a:active{
	color: white;
}

div.social-media a img{
	height: 50px;
	padding: 10px 5px;
}
